<div class="table-scroll">
  <table class="wiki-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mark</th>
        <th>Hard Mode</th>
        <th>Associated Boss</th>
        @for (character of store.characters(); track character.name) {
          <th>
            @if (character.icon) {
              <img
                [src]="character.icon | imagePath:'characters'"
                width="20"
                height="20"
                [alt]="character.name"
              />
            }<br />
            {{ character.name }}<br />
            Unlock
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (achievement of store.achievements(); track achievement.name; let i = $index) {
        <tr>
          <td>{{ achievement.name }}</td>
          @if (achievement.icon.hard) {
            <td class="completion-mark">
              <img
                [src]="achievement.icon.normal | imagePath:'marks'"
                width="50"
                height="50"
                [alt]="achievement.name + ' completion mark'"
              />
            </td>
            <td class="completion-mark">
              <img
                [src]="achievement.icon.hard | imagePath:'marks'"
                width="50"
                height="50"
                [alt]="achievement.name + ' hard mode completion mark'"
              />
            </td>
          } @else {
            <td class="completion-mark" colspan="2">
              <img
                [src]="achievement.icon.normal | imagePath:'marks'"
                width="50"
                height="50"
                [alt]="achievement.name + ' completion mark'"
              />
            </td>
          }
          <td>
            @for (boss of achievement.boss; track boss) {
              <p>{{ boss }}</p>
            }
          </td>
          @for (unlock of achievement.unlocks; track unlock.name) {
            <td [attr.rowspan]="getRowSpan(i)" [class.unlocked]="store.isUnlocked(unlock)">
              <button
                type="button"
                class="unlock-cell"
                (click)="store.toggleUnlock(unlock)"
                [title]="unlock.name"
              >
                <div class="unlock-container">
                  @if (unlock.tier != null) {
                    <img
                      class="tier"
                      [src]="unlock.tier.toString() | imagePath:'quality'"
                      width="18"
                      height="18"
                      [alt]="'Quality tier ' + unlock.tier"
                    />
                  }
                  @if (unlock.icon) {
                    <img
                      [class.unlock]="unlock.tier != null"
                      [src]="unlock.icon | imagePath:'achievements'"
                      width="45"
                      height="45"
                      [alt]="unlock.name"
                    />
                  }
                  @if (!unlock.icon) {
                    <p>{{ unlock.name }}</p>
                  }
                </div>
              </button>
            </td>
          }
          @for (cellIndex of getEmptyCellIndices(achievement.unlocks.length, i); track cellIndex) {
            <td class="empty-cell">
              <div class="unlock-container">
                <p>None</p>
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
