@use '../../../assets/styles/colors.scss';

.wikitable {
  background: colors.$background;
  border-color: colors.$border;
  color: colors.$white;
  margin: 1em 0;
  border: 1px solid colors.$border;
  border-collapse: collapse;
  font-family: 'sans-serif', 'Roboto', monospace;
}

.completion-mark {
  background-color: colors.$white;
}

.empty-cell {
  color: colors.$accent;
}

table {
  text-indent: initial;
}

p {
  margin: 0;
}

th {
  background-color: colors.$header;
  text-align: center;
}

table,
th,
tr,
td {
  padding: 8px;
  border: solid 1.5px colors.$border;
  border-spacing: 2px;
}
