<nav>
  <button class="tab" [ngClass]="{ active: !isTainted }" (click)="this.setTainted(false)">Regular Characters</button>
  <button class="tab" [ngClass]="{ active: isTainted }" (click)="this.setTainted(true)">Tainted Characters</button>
</nav>
<div style="overflow: auto">
  <table class="wiki-table" style="text-align: center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mark</th>
        <th>Hard Mode</th>
        <th>Associated Boss</th>
        <th *ngFor="let character of characters">
          <img *ngIf="character.icon" [src]="character.icon" width="20" height="20" [alt]="character.name" /><br />
          {{ character.name }}<br />
          Unlock
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let achievement of achievements; let i = index">
        <td>{{ achievement.name }}</td>
        <ng-container *ngIf="achievement.icon.hard; else mergedCell">
          <td class="completion-mark">
            <img [src]="achievement.icon.normal" width="50" height="50" alt="Completion Mark" />
          </td>
          <td class="completion-mark">
            <img [src]="achievement.icon.hard" width="50" height="50" alt="Completion Mark Hard Mode" />
          </td>
        </ng-container>
        <ng-template #mergedCell>
          <td class="completion-mark" colspan="2">
            <img [src]="achievement.icon.normal" width="50" height="50" alt="Completion Mark" />
          </td>
        </ng-template>
        <td>
          <p *ngFor="let boss of achievement.boss">{{ boss }}</p>
        </td>
        <td
          [attr.rowspan]="getRowSpan(i)"
          [ngClass]="{ unlocked: isUnlocked(unlock.name) }"
          *ngFor="let unlock of achievement.unlocks"
          (click)="this.lockUnlock(unlock.name)"
          title="{{ unlock.name }}"
        >
          <div class="unlock-container">
            <img
              class="tier"
              *ngIf="unlock.tier != null"
              [src]="getTierImagePath(unlock.tier)"
              width="18"
              height="18"
              [alt]="unlock.tier"
            />
            <img
              [ngClass]="{ unlock: unlock.tier != null }"
              *ngIf="unlock.icon"
              [src]="unlock.icon"
              width="45"
              height="45"
              [alt]="unlock.name"
            />
            <p *ngIf="!unlock.icon">{{ unlock.name }}</p>
          </div>
        </td>
        <ng-container *ngFor="let _ of [].constructor(getExtraCells(achievement.unlocks.length, i))">
          <td class="empty-cell">
            <div class="unlock-container">
              <p>None</p>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
